<article class="job-card">

  <div class="job-header">

    <div>
      <span class="job-label">JOB VACANCY</span>
      <h2>{{ job.title }}</h2>
    </div>

    <span
      class="status-badge"
      [class.closed-status]="!job.isOpen"
    >
      {{ job.isOpen ? 'Open' : 'Closed' }}
    </span>

  </div>

  <p class="description">
    {{ job.description || 'No description provided.' }}
  </p>

  <div class="job-info">

    <div class="info-item">
      <span>Location</span>
      <strong>
        {{ job.location || 'Not specified' }}
      </strong>
    </div>

    <div class="info-item">
      <span>Experience</span>
      <strong>
        {{ job.requiredExperience }} year(s)
      </strong>
    </div>

    <div class="info-item">
      <span>Education</span>
      <strong>
        {{ job.requiredEducation || 'Not specified' }}
      </strong>
    </div>

  </div>

  <div class="skills-section">
    <span>Required Skills</span>

    <strong>
      {{ job.requiredSkills || 'Not specified' }}
    </strong>
  </div>

</article>